
<link href="../../public/css/header.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../public/img/logo.png" alt="Logo" id="logo"></a>
    <button class="navbar-toggler" id="but" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/logout" tabindex="-1" >Logout</a>
        </li>
      </ul>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" onkeyup="search()" id="search">
    </div>
  </div>
</nav>
